/Frontend/node_modules
/Frontend/.pnp
/Frontend/.pnp.js
/backend/config/config.env

/Frontend/coverage


/Frontend/build


/Frontend/.env.local
/Frontend/.DS_Store
/Frontend/.env.development.local
/Frontend/.env.test.local
/Frontend/.env.production.local
/backend/config/config.env
/node_modules
/.vscode
